@import url('https://fonts.googleapis.com/css2?family=Monomakh&display=swap');

body {
    font-family: Roboto, sans-serif;
    font-size: 24px;
    line-height: 1.5;
    color: #333;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    background-image: url('../img/slav-bg.jpg');
    background-size: cover;
}

header {
    padding: 10px;
    background: linear-gradient(to right, #840000, #e00000a1);
    color: #ffffff;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 10px 100px;
    overflow: hidden;
}

input {
    padding: 10px;
    margin: 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

button {
    background-color: #e00000;
    color: white;
    padding: 10px 20px;
    margin: 10px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #c00000;
}
